:root {
  --color-a: #7AB8B6;
  --color-b: #2D4A6B;
  --color-c: #F7F8F9;
  --color-d: #000;
  --background-accent-color: var(--color-b);
  --background-text-color: var(--color-c);
  --background-text-active-color: var(--color-a);
}

body {
    margin: 0;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: var(--color-a);
}

nav {
    background-color: var(--background-accent-color);
    color: var(--background-text-color);
    display: flex;
    align-items:center;
    justify-content:space-around;
    height: 3.50rem;
}
.navbar-brand {
  color: var(--background-text-color);
}
.nav-link {
  color: var(--background-text-color);
}
.navbar-nav .nav-link.active {
  color: var(--background-text-active-color);
}
nav a {
    color:var(--color-c);
    text-decoration:none; 
}

.content {
    /*display:flex;*/
}

h1,h3 {
    color: var(--color-c)
}

h2{
    color:var(--color-b)
}

footer {
  background-color: var(--background-accent-color);
  color: var(--background-text-color);
  padding: 0.5rem;
}